<script>
	import { tweened } from 'svelte/motion';
	import { cubicOut } from 'svelte/easing';
    export let perem;
    


	const progress = tweened(0, {
		duration: 400,
		easing: cubicOut
        
	});
</script>
<progress value={perem} max = "100"></progress>
<style>
	progress {
		display: block;
		width: 80%;

        
	}
</style>