<script>
    import Tooltip from "svelte-atoms/Tooltip.svelte";
    export let widthDef;
    export let setItemWidth;
  </script>
  
  <div>
    <input
      bind:value={widthDef}
      on:change="{(v)=>setItemWidth(v)}"
      type="range"
      min="0"
      max="100"
      step="1"
    />
  
    
  </div>
  
  <style>
    
  
    input[type="range"] {
      width: 100%;
      height: 0px;
    }
  
   
  </style>