<script>
    import SelectProp from "./Components/selectPropContainer.svelte";
    import SelectWidth from "./Components/selectWidth.svelte";
    import SelectItem from "./Components/selectItem.svelte";

    import Button from "svelte-atoms/Button.svelte";
    import Variables from "svelte-atoms/Variables.svelte";


    

    let flexProps = [
        { propname: "display", default: "block" },
        { propname: "direction", default: "row" },
        { propname: "wrap", default: "nowrap" },
        { propname: "justify-content", default: "flex-start" },
        { propname: "align-content", default: "align-content" },
        { propname: "align-items", default: "align-items" },
    ];

    let itemWidth = 20;

    function setFlexStyle(event) {
        //Обработчик выбора flex-свойства
        console.log("??", event, event.detail.prop, event.detail.propValue);
        switch (event.detail.prop) {
            case "display":
                selDisplay = event.detail.propValue;
                break;
            case "direction":
                selDirection = event.detail.propValue;
                break;
            case "wrap":
                selWrap = event.detail.propValue;
                break;
            case "justify-content":
                selJustContent = event.detail.propValue;
                break;
            case "align-content":
                selAlignContent = event.detail.propValue;
                break;
            case "align-items":
                selAlignItems = event.detail.propValue;
            default:
                console.log("No such prop");
        }
    }

    function Zero() {
          
        itemCount -= 1;
        if (itemCount == 0) {
            itemCount += 1;
        }
    }
    //Выбранные значения. Умолч-я берутся из коллекции flexProps (только в 1-й стр.)
    let selDisplay = flexProps.filter((o) => o.propname == "display")[0]
        .default;
    let selDirection = flexProps.filter((o) => o.propname == "direction")[0]
        .default;
    let selJustContent = flexProps.filter(
        (o) => o.propname == "justify-content"
    )[0].default;
    let selWrap = flexProps.filter((o) => o.propname == "wrap")[0].default;
    let selAlignContent = flexProps.filter(
        (o) => o.propname == "align-content"
    )[0].default;
    let selAlignItems = flexProps.filter((o) => o.propname == "align-items")[0]
        .default;

    let itemCount = 3;

    

    //Работаем с дочерними компонентами (item)
    let childs = [];
    function addItem() {
        //     childs.push({number:childs.length+1});
        //     childs=childs;
        //Подробней: https://ru.svelte.dev/tutorial/updating-arrays-and-objects
        childs = [...childs, { number: childs.length + 1 }];
    }
    [...Array(3).keys()].forEach(() => addItem());
    function deleteItem(idx) {//Тоже можно в одну строку
        childs.splice(idx, 1);
        childs = childs; 
    }
    function setItemWidth(e) {
        console.log("itemWidth", e.target.value);
        itemWidth = e.target.value;
    }
</script>



<!-- Выкладываем combobox'ы -->


<div class="container">
    <div class="top">
      <p>
        ID301-KIS
      </p>
    </div>
    <div class="main">
      <div class='content'>
        <div class="constr-container">
            <!-- контейнер вложенных элементов -->
           
            
            
            
            <div
                class="field"
                style="--disp:{selDisplay};
                       --dir:{selDirection};
                       --jcont:{selJustContent};
                       --wrap:{selWrap};
                       --alct:{selAlignContent};
                       --alit:{selAlignItems}"
                       
            >
        
            {#each childs as child, i}
                    <SelectItem index={i} 
                    number={child.number} 
                    delFunc={deleteItem}
                    width = {itemWidth}/>
                {/each}
            </div>
        </div>
      
        
      </div>
      <div class='controls'>
        <div>
            <button on:click={addItem}> Добавить дочерний эл-т </button>
        </div>
        {#each flexProps as prp}
        <SelectProp flex_prop={prp} on:selprop={setFlexStyle} />
    {/each}
    <SelectWidth widthDef={itemWidth} {setItemWidth}/>
   
    
      </div>
      
  
    </div>
    <div class="bottom">
    
        <p>
        Medvedev D.A
      </p>
    
    </div>
  </div>
  






<style>
    button
    {
        display:flex;
        margin:30px auto;
        position:relative;
        top:200px;
        right:30px;
        border-radius:5px;
        border:10px solid black;
        background:#00FFFF;
    }
    .constr-container {
        min-width: 240px;
        max-width: 90%;
        margin: 20px auto;
        padding: 5px;
        border: 1px solid rgb(138, 109, 216);
    }
    .field {
        border: 3px solid black;
        height: 500px;
        padding: 5px;
        /* -flex-переменные- */
        display: var(--disp);
        flex-direction: var(--dir);
        justify-content: var(--jcont);
        flex-wrap: var(--wrap);
        align-content: var(--alct);
        align-items: var(--alit);
    }

    .container {
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-grow: 1;
  border: 10px solid black;
}

.content {
  min-width: 600px;
  flex-grow: 5;
  background-color: white;
  overflow:scroll;
  
}

.controls {
  flex-grow: 1;
  background-color: #c0c0c0;
}

.top {
  padding: 5px;
  background-color: #008000;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border:10px solid black;
  text-align:center;
  font-size: 30px;
}
.bottom{
 padding: 5px;
  background-color: #008000;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border:10px solid black;
  text-align:center;
  font-size: 30px;
}

</style>