<script>
    import Menu from "./Menu.svelte";
    import Content from "./Content.svelte";
    let data = [
        {
            name: " Item one",
            items: [
                { name: "one-1", addr: "http://placebeard.it/640x480" },
                { name: "one-2", addr: "http://placebeard.it/640x481" },
                { name: "one-3", addr: "http://placebeard.it/640x482" }
            ],
        },
        {
            name: "Item two",
            items: [
                { name: "two-1", addr: "http://placeimg.com/640/480/any" },
                { name: "two-2", addr: "http://placeimg.com/640/481/any" },
                { name: "two-3", addr: "http://placeimg.com/640/482/any" }
            ],
        },
         {
            name: "Item three",
            items: [
                { name: "three-1", addr: "http://placeimg.com/640/480/any" },
                { name: "three-2", addr: "http://placebeard.it/640x481" },
                { name: "three-3", addr: "http://placeimg.com/640/482/any" }
            ],
        },
        
    ];
    let item;
    let addr = data[0].items[0].addr;

    const Title = (element) => {
        item = element;
        addr = element[0].addr;
    };
    const Item = (el) => {
        addr = el;
    };
</script>

<div class="app">
    <div class="app-container">
        <div class="app-header">
            <Menu {data} Func={Title} />
        </div>
        

        <div class="article">
             <div class="left-bar">
                {#if item}
                    {#each item as item}
                        <div> 
                        <button on:click={() => Item(item.addr)}>{item.name}</button>
                        </div>
                    {/each}
                {/if}
            </div> 

            <div class="app-content">
                <Content {addr} />
            </div>
        </div>
        <div class="app-footer">Exam ID-301kis Medvedev D.A.</div>
    </div>
</div>
<style>
    :global(body) {
        height: 99%;
    }
    .left-bar{
     display:flex;
    }
</style>
