<script>
    import { onMount } from "svelte";
    export let data;
    export let Func;

    onMount(() => {  Func(data[0].items); });
</script>

<div>
    {#each data as item}
        <div> 
        <button on:click={() => Func(item.items)}>{item.name}</button>
        </div>
    {/each}
</div>
<style>
 div{
   display:flex;
 }
</style>

